@font-face {
    font-family: 'PoppinsRegular';
    src: url('/fonts/Poppins-Regular.ttf');
}


.body-light{
    background-color: white;
    color: black;
}

.body-dark{
    background-color: black;
    color: white;
}



.app{
    margin : 0;
    padding : 0;
    font-family: 'PoppinsRegular';
    box-sizing: border-box;

}

.title{
    margin: auto;
    width: min-content;
    white-space: nowrap;
    padding-top: 20px;
}

.note-pad{
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}

.note-box date-title button_container{
    width: 100%;
}

.date-title{
    font-weight: bold;
    font-size: large;
}

.note-box{
    min-height: 800px;
    outline: 0px solid transparent;
}   

.button_container{
    padding-top: 20px;
}


#line_title{
    font-weight: bold;
    font-size: x-large;
}

#line_subtitle{
    font-weight: bold;
    font-size: large;
}

#line_plain{

}

.button{
    font-family: 'PoppinsRegular';
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:active {
    background-color: grey;
}

.light_button {
    background-color: black;
    color: white;
}

.dark_button {
    background-color: whitesmoke ;
    color: black;
}


